<ww-form-group-datepicker
    [id]="fromId"
    [name]="fromName"
    [label]="fromLabel"
    [placeholder]="fromPlaceholder"
    [control]="fromControl"
    [focus]="fromFocus"
    [inline]="fromInline"
    [minDate]="fromMinDate"
    [maxDate]="fromMaxDate"
    [validFromLabel]="fromLabel"
    [validToLabel]="toLabel">
</ww-form-group-datepicker>

<ww-form-group-datepicker
    [id]="toId"
    [name]="toName"
    [label]="toLabel"
    [placeholder]="toPlaceholder"
    [control]="toControl"
    [focus]="toFocus"
    [inline]="toInline"
    [minDate]="toMinDate"
    [maxDate]="toMaxDate"
    [validFromLabel]="fromLabel"
    [validToLabel]="toLabel">
</ww-form-group-datepicker>
