.properties.ww-info {
  background-color: #e8ebee;
  padding: 2rem 1.5rem 0.5rem 2rem;
}

.properties--disabled {
  color: #cbd2da;
  font-weight: lighter;
}

code, samp, kbd {
	font-family: "Courier New", Courier, monospace, sans-serif;
	text-align: left;
	color: #333;
}

pre code {
	line-height: 1.6em;
	font-size: 11px;
}

pre {
	padding: 0.1em 0.5em 0.3em 0.7em;
	border-left: 11px solid #e8ebee;
	margin: 0em 0em 0em 0.3em;
	overflow: auto;
	width: 93%;
}

/* target IE7 and IE6 */
*:first-child+html pre {
	padding-bottom: 2em;
	overflow-y: hidden;
	overflow: visible;
	overflow-x: auto;
}

* html pre {
	padding-bottom: 2em;
	overflow: visible;
	overflow-x: auto;
}
