<div data-table="">
  <!--<div class="data-table__actions data-table__actions--top">
    <div class="grid">
      <div class="col--6-12 col--9-12--xs">
        <ul class="data-table__actions__list">
          <li class="data-table__action">
            <div class="popdown popdown--left js-popup" ww-popup id="popup-0">
              <button class="data-table__action__toggle data-table__action__toggle--arrow js-popup__toggle" aria-expanded="false" aria-controls="popup-0">Download</button>
              <ul class="popdown__content">
                <li><a id="exportCsvLink" class="popdown__link link-text">CSV</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>-->

  <div class="u-table-overflow">
    <table id="addressTable" class="data-table">
      <thead>
        <tr class="data-table__header">
          <th class="data-table__header-title" style="width: 70%">
            <a class="data-table__header-title--sortable"
               [ngClass]="{'data-table__header-title--sortable-active': isSortedBy('name')}"
               (click)="sortBy('name')">
              Naam
              <i class="data-table__header-title__sort-icon vi vi-u-link-after vi-long-arrow"
                 [ngClass]="{'vi-u-180deg': isSortedByDescending('name')}"></i>
              </a>
          </th>
          <th class="data-table__header-title" style="width: 15%">
            <a class="data-table__header-title--sortable"
               [ngClass]="{'data-table__header-title--sortable-active': isSortedBy('representsActivePhase')}"
               (click)="sortBy('representsActivePhase')">
              Actieve fase
              <i class="data-table__header-title__sort-icon vi vi-u-link-after vi-long-arrow"
                 [ngClass]="{'vi-u-180deg': isSortedByDescending('representsActivePhase')}"></i>
              </a>
          </th>
          <th class="data-table__header-title" style="width: 15%">
            <a class="data-table__header-title--sortable"
               [ngClass]="{'data-table__header-title--sortable-active': isSortedBy('isDefaultPhase')}"
               (click)="sortBy('isDefaultPhase')">
              Standaard fase
              <i class="data-table__header-title__sort-icon vi vi-u-link-after vi-long-arrow"
                 [ngClass]="{'vi-u-180deg': isSortedByDescending('isDefaultPhase')}"></i>
              </a>
          </th>
        </tr>
      </thead>
      <tbody>
        <template [ngIf]="isBusy">
          <tr><td colspan="3">Bezig met laden...</td></tr>
        </template>

        <template [ngIf]="!isBusy">
          <tr *ngIf="!hasData(data)">
            <td colspan="3">Geen data beschikbaar...</td>
          </tr>
          <tr *ngFor="let lifecyclePhase of data">
            <td class="data-table__body-title"><a [routerLink]="['./', lifecyclePhase.id]" title="{{lifecyclePhase.name}}">{{lifecyclePhase.name}}</a></td>
            <td class="data-table__body-title">
              <i aria-label="Actieve levensloopfase"
                [ngClass]="{'vi vi-u-badge vi-u-badge--green vi-u-badge--xxsmall vi-check': lifecyclePhase.representsActivePhase}">
              </i>
            </td>
            <td class="data-table__body-title">
              <i aria-label="Standaard levensloopfase"
                [ngClass]="{'vi vi-u-badge vi-u-badge--green vi-u-badge--xxsmall vi-check': lifecyclePhase.isDefaultPhase}">
              </i>
            </td>
          </tr>
        </template>
      </tbody>
    </table>
  </div>

  <div *ngIf="totalPages > 1" class="data-table__actions data-table__actions--bottom">
    <div class="pager">
      <ul class="pager__list pager__list--right">
        <li class="pager__element">
          <strong>{{firstItem}} - {{lastItem}}</strong> van {{totalItems}}
        </li>

        <li class="pager__element" *ngIf="firstItem > 1">
          <a class="link-text" (click)="previousPage()"><i class="vi vi-arrow vi-u-180deg vi-u-s"></i> vorige</a>
        </li>

        <li class="pager__element" *ngIf="lastItem < totalItems">
          <a class="link-text" (click)="nextPage()">volgende <i class="vi vi-arrow vi-u-s"></i></a>
        </li>
      </ul>
    </div>
  </div>
</div>
