<form class="form" [formGroup]="form" (ngSubmit)="filterForm(form.value)" autocomplete="off">
  <div class="grid">
    <div class="col--6-12 col--1-1--s">
      <div class="form__group">
        <ww-form-group-textbox
          [id]="'eventNumber'"
          [label]="'Nummer'"
          [control]="form.get('eventNumber')"
          [placeholder]="'Nummer'"
          [name]="'Nummer'">
        </ww-form-group-textbox>

        <ww-form-group-textbox
          [id]="'firstName'"
          [label]="'Voornaam'"
          [control]="form.get('firstName')"
          [placeholder]="'Voornaam'"
          [name]="'Voornaam'">
        </ww-form-group-textbox>

        <ww-form-group-textbox
          [id]="'data'"
          [label]="'Data'"
          [control]="form.get('data')"
          [placeholder]="'Data'"
          [name]="'Data'">
        </ww-form-group-textbox>
      </div>
    </div>

    <div class="col--6-12 col--1-1--s">
      <div class="form__group">
        <ww-form-group-textbox
          [id]="'name'"
          [label]="'Naam Event'"
          [control]="form.get('name')"
          [placeholder]="'Naam Event'"
          [name]="'Naam Event'">
        </ww-form-group-textbox>

        <ww-form-group-textbox
          [id]="'lastName'"
          [label]="'Naam'"
          [control]="form.get('lastName')"
          [placeholder]="'Naam'"
          [name]="'Naam'">
        </ww-form-group-textbox>

        <ww-form-group-textbox
          [id]="'ip'"
          [label]="'IP'"
          [control]="form.get('ip')"
          [placeholder]="'IP'"
          [name]="'IP'">
        </ww-form-group-textbox>
      </div>
    </div>

    <div class="col--1-1">
      <div class="form__group">
        <div class="form__row">
          <div class="form__buttons">
            <div class="form__buttons__right">
              <button class="button form__button"
                      type="reset"
                      *ngIf="filterActive"
                      (click)="resetForm()"
                      [ngClass]="{'button--disabled': form.disabled}"
                      [disabled]="form.disabled">
                <span>Filter wissen</span>
              </button>

              <button class="button form__button"
                      type="submit"
                      [ngClass]="{'button--disabled': !isFormValid, 'button--loading': form.disabled}"
                      [disabled]="!isFormValid || form.disabled">
                <span>Zoeken</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
