<div data-table="">
  <div class="u-table-overflow">
    <table id="addressTable" class="data-table">
      <thead>
        <tr class="data-table__header">
          <th class="data-table__header-title" style="width: 40%">
            <a class="data-table__header-title--sortable"
               [ngClass]="{'data-table__header-title--sortable-active': isSortedBy('organisationName')}"
               (click)="sortBy('organisationName')">
              Organisatie
              <i class="data-table__header-title__sort-icon vi vi-u-link-after vi-long-arrow"
                 [ngClass]="{'vi-u-180deg': isSortedByDescending('organisationName')}"></i>
              </a>
          </th>
          <th class="data-table__header-title" style="width: 30%">
            <a class="data-table__header-title--sortable"
               [ngClass]="{'data-table__header-title--sortable-active': isSortedBy('functionName')}"
               (click)="sortBy('functionName')">
              Functie
              <i class="data-table__header-title__sort-icon vi vi-u-link-after vi-long-arrow"
                 [ngClass]="{'vi-u-180deg': isSortedByDescending('functionName')}"></i>
              </a>
          </th>
          <th class="data-table__header-title" style="width: 15%">
            <a class="data-table__header-title--sortable"
               [ngClass]="{'data-table__header-title--sortable-active': isSortedBy('validFrom')}"
               (click)="sortBy('validFrom')">
              Geldig vanaf
              <i class="data-table__header-title__sort-icon vi vi-u-link-after vi-long-arrow"
                 [ngClass]="{'vi-u-180deg': isSortedByDescending('validFrom')}"></i>
              </a>
          </th>
          <th class="data-table__header-title" style="width: 15%">
            <a class="data-table__header-title--sortable"
               [ngClass]="{'data-table__header-title--sortable-active': isSortedBy('validTo')}"
               (click)="sortBy('validTo')">
              Geldig tot
              <i class="data-table__header-title__sort-icon vi vi-u-link-after vi-long-arrow"
                 [ngClass]="{'vi-u-180deg': isSortedByDescending('validTo')}"></i>
              </a>
          </th>
        </tr>
      </thead>
      <tbody>
        <template [ngIf]="isBusy">
          <tr><td colspan="4">Bezig met laden...</td></tr>
        </template>

        <template [ngIf]="!isBusy">
          <tr *ngIf="!hasData(data)">
            <td colspan="4">Geen data beschikbaar...</td>
          </tr>
          <tr *ngFor="let function of data">
            <td class="data-table__body-title"><a [routerLink]="['/organisations', function.organisationId]" title="{{function.organisationName}}">{{function.organisationName}}</a></td>
            <td class="data-table__body-title">{{function.functionName}}</td>
            <td class="data-table__body-title">
              <span *ngIf="function.validFrom">{{function.validFrom}}</span>
              <span class="data-table__cell--disabled" *ngIf="!function.validFrom">Niet bekend</span>
            </td>
            <td class="data-table__body-title">
              <span *ngIf="function.validTo">{{function.validTo}}</span>
              <span class="data-table__cell--disabled" *ngIf="!function.validTo">Niet bekend</span>
            </td>
          </tr>
        </template>
      </tbody>
    </table>
  </div>

  <div *ngIf="totalPages > 1" class="data-table__actions data-table__actions--bottom">
    <div class="pager">
      <ul class="pager__list pager__list--right">
        <li class="pager__element">
          <strong>{{firstItem}} - {{lastItem}}</strong> van {{totalItems}}
        </li>

        <li class="pager__element" *ngIf="firstItem > 1">
          <a class="link-text" (click)="previousPage()"><i class="vi vi-arrow vi-u-180deg vi-u-s"></i> vorige</a>
        </li>

        <li class="pager__element" *ngIf="lastItem < totalItems">
          <a class="link-text" (click)="nextPage()">volgende <i class="vi vi-arrow vi-u-s"></i></a>
        </li>
      </ul>
    </div>
  </div>
</div>
