<div class="form__row" [ngClass]="{'form__row--inline': inline}">
    <label class="form__label" [attr.for]="id">{{label}}</label>
    <div class="form__error" *ngIf="!inline && control.errors && control.touched && control.hasError('required')">'{{name}}' is verplicht.</div>

    <div class="form__input" [ngClass]="{'select__noresults': noResults, 'select__error': !inline && control.errors && control.touched}">
        <div class="js-select">
            <select [attr.id]="id"
                    [attr.name]="id"
                    class="select select--block"
                    [ngClass]="{'input-field--disabled': control.disabled}"
                    [formControl]="control"
                    tabindex="-1"
                    (blur)="onValueChanged($event)"
                    data-search-empty="Geen resultaten gevonden"
                    data-id=""
                    data-dynselect>
                <option *ngIf="initialValue == null" value="" data-placeholder>{{placeholder}}</option>
                <option *ngIf="initialValue != null" value="{{initialValue.value}}" selected>{{initialValue.label}}</option>
            </select>
        </div>
    </div>
</div>
