<div class="form__row" [ngClass]="{'form__row--inline': inline}">
    <label class="form__label" [attr.for]="id">{{label}}</label>
    <div class="form__error" *ngIf="!inline && control.errors && control.touched && control.hasError('required')">'{{name}}' is verplicht.</div>
    <div class="form__error" *ngIf="!inline && control.errors && control.touched && control.hasError('invalidNumber')">'{{name}}' moet numeriek zijn.</div>

    <div class="form__input">
        <input [attr.id]="id"
               [attr.name]="id"
               type="text"
               [formControl]="control"
               class="input-field input-field--block"
               [ngClass]="{'input-field--disabled': control.disabled}"
               placeholder="{{placeholder}}"
               [readonly]="control.disabled"
               (input)="onValueChanged($event)"
               #myInput/>
    </div>
</div>
