<div data-table="">
  <div class="u-table-overflow">
    <table id="addressTable" class="data-table">
      <thead>
        <tr class="data-table__header">
          <th class="data-table__header-title" style="width: 5%">
            <a class="data-table__header-title--sortable"
               [ngClass]="{'data-table__header-title--sortable-active': isSortedBy('number')}"
               (click)="sortBy('number')">
              #
              <i class="data-table__header-title__sort-icon vi vi-u-link-after vi-long-arrow"
                 [ngClass]="{'vi-u-180deg': isSortedByDescending('number')}"></i>
              </a>
          </th>
          <th class="data-table__header-title" style="width: 50%">
            <a class="data-table__header-title--sortable"
               [ngClass]="{'data-table__header-title--sortable-active': isSortedBy('name')}"
               (click)="sortBy('name')">
              Naam
              <i class="data-table__header-title__sort-icon vi vi-u-link-after vi-long-arrow"
                 [ngClass]="{'vi-u-180deg': isSortedByDescending('name')}"></i>
              </a>
          </th>
          <th class="data-table__header-title" style="width: 10%">
            <a class="data-table__header-title--sortable"
               [ngClass]="{'data-table__header-title--sortable-active': isSortedBy('version')}"
               (click)="sortBy('version')">
              Versie
              <i class="data-table__header-title__sort-icon vi vi-u-link-after vi-long-arrow"
                 [ngClass]="{'vi-u-180deg': isSortedByDescending('version')}"></i>
              </a>
          </th>
          <th class="data-table__header-title" style="width: 20%">
            <a class="data-table__header-title--sortable"
               [ngClass]="{'data-table__header-title--sortable-active': isSortedBy('lastName')}"
               (click)="sortBy('lastName')">
              Persoon
              <i class="data-table__header-title__sort-icon vi vi-u-link-after vi-long-arrow"
                 [ngClass]="{'vi-u-180deg': isSortedByDescending('lastName')}"></i>
              </a>
          </th>
          <th class="data-table__header-title" style="width: 15%">
            <a class="data-table__header-title--sortable"
               [ngClass]="{'data-table__header-title--sortable-active': isSortedBy('timestamp')}"
               (click)="sortBy('timestamp')">
              Datum
              <i class="data-table__header-title__sort-icon vi vi-u-link-after vi-long-arrow"
                 [ngClass]="{'vi-u-180deg': isSortedByDescending('timestamp')}"></i>
              </a>
          </th>
        </tr>
      </thead>
      <tbody>
        <template [ngIf]="isBusy">
          <tr><td colspan="4">Bezig met laden...</td></tr>
        </template>

        <template [ngIf]="!isBusy">
          <tr *ngIf="!hasData(data)">
            <td colspan="4">Geen data beschikbaar...</td>
          </tr>
          <tr *ngFor="let eventData of data">
            <td class="data-table__body-title"><a [routerLink]="['./', eventData.number]" title="{{eventData.number}}">{{eventData.number}}</a></td>
            <td class="data-table__body-title"><a [routerLink]="['./', eventData.number]" title="{{eventData.data | json}}">{{eventData.name}}</a></td>
            <td class="data-table__body-title">{{eventData.version}}</td>
            <td class="data-table__body-title">{{eventData.lastName}} {{eventData.firstName}}</td>
            <td class="data-table__body-title">{{eventData.timestamp}}</td>
            <td class="data-table__body-title">
              <a class="link-text" (click)="filterByAggregateId(eventData.id)" aria-label="Filter op deze Aggregate Id" title="Filter op deze Aggregate Id">
                <i class="vi vi-location"></i>
              </a>
            </td>
          </tr>
        </template>
      </tbody>
    </table>
  </div>

  <div *ngIf="totalPages > 1" class="data-table__actions data-table__actions--bottom">
    <div class="pager">
      <ul class="pager__list pager__list--right">
        <li class="pager__element">
          <strong>{{firstItem}} - {{lastItem}}</strong> van {{totalItems}}
        </li>

        <li class="pager__element" *ngIf="firstItem > 1">
          <a class="link-text" (click)="previousPage()"><i class="vi vi-arrow vi-u-180deg vi-u-s"></i> vorige</a>
        </li>

        <li class="pager__element" *ngIf="lastItem < totalItems">
          <a class="link-text" (click)="nextPage()">volgende <i class="vi vi-arrow vi-u-s"></i></a>
        </li>
      </ul>
    </div>
  </div>
</div>
