<div data-table="">
  <div class="u-table-overflow">
    <table id="addressTable" class="data-table">
      <thead>
        <tr class="data-table__header">
          <th class="data-table__header-title" style="width: 10%">
            <a class="data-table__header-title--sortable"
               [ngClass]="{'data-table__header-title--sortable-active': isSortedBy('bodySeatNumber')}"
               (click)="sortBy('bodySeatNumber')">
              Nummer
              <i class="data-table__header-title__sort-icon vi vi-u-link-after vi-long-arrow"
                 [ngClass]="{'vi-u-180deg': isSortedByDescending('bodySeatNumber')}"></i>
              </a>
          </th>
          <th class="data-table__header-title" style="width: 20%">
            <a class="data-table__header-title--sortable"
               [ngClass]="{'data-table__header-title--sortable-active': isSortedBy('bodySeatName')}"
               (click)="sortBy('bodySeatName')">
              Post
              <i class="data-table__header-title__sort-icon vi vi-u-link-after vi-long-arrow"
                 [ngClass]="{'vi-u-180deg': isSortedByDescending('bodySeatName')}"></i>
              </a>
          </th>
          <th class="data-table__header-title" style="width: 35%">
            <a class="data-table__header-title--sortable"
               [ngClass]="{'data-table__header-title--sortable-active': isSortedBy('delegatorName')}"
               (click)="sortBy('delegatorName')">
              Vertegenwoordiging
              <i class="data-table__header-title__sort-icon vi vi-u-link-after vi-long-arrow"
                 [ngClass]="{'vi-u-180deg': isSortedByDescending('delegatorName')}"></i>
              </a>
          </th>
          <th class="data-table__header-title" style="width: 15%">
            <a class="data-table__header-title--sortable"
               [ngClass]="{'data-table__header-title--sortable-active': isSortedBy('validFrom')}"
               (click)="sortBy('validFrom')">
              Geldig vanaf
              <i class="data-table__header-title__sort-icon vi vi-u-link-after vi-long-arrow"
                 [ngClass]="{'vi-u-180deg': isSortedByDescending('validFrom')}"></i>
              </a>
          </th>
          <th class="data-table__header-title" style="width: 15%">
            <a class="data-table__header-title--sortable"
               [ngClass]="{'data-table__header-title--sortable-active': isSortedBy('validTo')}"
               (click)="sortBy('validTo')">
              Geldig tot
              <i class="data-table__header-title__sort-icon vi vi-u-link-after vi-long-arrow"
                 [ngClass]="{'vi-u-180deg': isSortedByDescending('validTo')}"></i>
              </a>
          </th>
          <th *ngIf="(canEdit | async)" class="data-table__last-header"></th>
        </tr>
      </thead>
      <tbody>
        <template [ngIf]="isBusy">
          <tr><td colspan="6">Bezig met laden...</td></tr>
        </template>

        <template [ngIf]="!isBusy">
          <tr *ngIf="!hasData(data)">
            <td colspan="6">Geen data beschikbaar...</td>
          </tr>
          <tr *ngFor="let mandate of data" [ngClass]="{'data-table__body-history': !mandate.isActive}">
            <td class="data-table__body-title">
              {{mandate.bodySeatNumber}}
            </td>
            <td class="data-table__body-title">
              {{mandate.bodySeatName}}
            </td>
            <td class="data-table__body-title">
              <a *ngIf="mandate.bodyMandateType == 'person'" [routerLink]="['/people', mandate.delegatorId, 'mandates']" title="{{mandate.delegatorName}}">{{mandate.delegatorName}}</a>
              <a *ngIf="mandate.bodyMandateType == 'functionType'" [routerLink]="['/organisations', mandate.delegatorId]" title="{{mandate.delegatorName}} ({{mandate.delegatedName}})">{{mandate.delegatorName}} ({{mandate.delegatedName}})</a>
              <a *ngIf="mandate.bodyMandateType == 'organisation'" [routerLink]="['/organisations', mandate.delegatorId]" title="{{mandate.delegatorName}}">{{mandate.delegatorName}}</a>

              <span *ngIf="mandate.assignedToId"> - <a [routerLink]="['/people', mandate.assignedToId, 'mandates']" title="{{mandate.assignedToName}}">{{mandate.assignedToName}}</a></span>
            </td>
            <td class="data-table__body-title">
              <span *ngIf="mandate.validFrom">{{mandate.validFrom}}</span>
              <span class="data-table__cell--disabled" *ngIf="!mandate.validFrom">Niet bekend</span>
            </td>
            <td class="data-table__body-title">
              <span *ngIf="mandate.validTo">{{mandate.validTo}}</span>
              <span class="data-table__cell--disabled" *ngIf="!mandate.validTo">Niet bekend</span>
            </td>
            <td *ngIf="(canEdit | async)" class="u-align-right">
              <a *ngIf="mandate.bodyMandateType == 'person'" [routerLink]="['updateperson', mandate.bodyMandateId]" class="vi vi-u-badge vi-u-badge--grey vi-u-badge--small vi-edit" title="Bewerken" aria-label="Bewerken"></a>
              <a *ngIf="mandate.bodyMandateType == 'functionType'" [routerLink]="['updatefunction', mandate.bodyMandateId]" class="vi vi-u-badge vi-u-badge--grey vi-u-badge--small vi-edit" title="Bewerken" aria-label="Bewerken"></a>
              <a *ngIf="mandate.bodyMandateType == 'organisation'" [routerLink]="['updateorganisation', mandate.bodyMandateId]" class="vi vi-u-badge vi-u-badge--grey vi-u-badge--small vi-edit" title="Bewerken" aria-label="Bewerken"></a>
            </td>
          </tr>
        </template>
      </tbody>
    </table>
  </div>

  <div *ngIf="totalPages > 1" class="data-table__actions data-table__actions--bottom">
    <div class="pager">
      <ul class="pager__list pager__list--right">
        <li class="pager__element">
          <strong>{{firstItem}} - {{lastItem}}</strong> van {{totalItems}}
        </li>

        <li class="pager__element" *ngIf="firstItem > 1">
          <a class="link-text" (click)="previousPage()"><i class="vi vi-arrow vi-u-180deg vi-u-s"></i> vorige</a>
        </li>

        <li class="pager__element" *ngIf="lastItem < totalItems">
          <a class="link-text" (click)="nextPage()">volgende <i class="vi vi-arrow vi-u-s"></i></a>
        </li>
      </ul>
    </div>
  </div>
</div>
