<div class="grid">
  <div class="col--8-12 col--10-12--m col--1-1--s">
    <div *ngIf="isEditMode">
      <h1 class="h2">Bewerken configuratiewaarde</h1>
    </div>

    <div *ngIf="!isEditMode">
      <h1 class="h2">Nieuw configuratiewaarde</h1>
    </div>

    <form class="form" [formGroup]="form" (ngSubmit)="createOrUpdate(form.value)" autocomplete="off">
      <div class="form__group">
          <ww-form-group-textbox
            [id]="'key'"
            [label]="'Sleutel'"
            [control]="form.get('key')"
            [placeholder]="'Sleutel'"
            [name]="'Sleutel'"
            [focus]="true">
          </ww-form-group-textbox>

          <ww-form-group-textbox
            [id]="'description'"
            [label]="'Omschrijving'"
            [control]="form.get('description')"
            [placeholder]="'Omschrijving'"
            [name]="'Omschrijving'"
            [focus]="false">
          </ww-form-group-textbox>

          <ww-form-group-textbox
            [id]="'value'"
            [label]="'Waarde'"
            [control]="form.get('value')"
            [placeholder]="'Waarde'"
            [name]="'Waarde'"
            [focus]="false">
          </ww-form-group-textbox>

          <div class="form__row">
            <div class="form__buttons">
              <div class="form__buttons__left">
                <a [routerLink]="['./..']" class="cancel__button"><i class="vi vi-cross vi-u-link">Annuleer</i></a>
              </div>
              <div class="form__buttons__right">
                <button class="button form__button"
                        type="submit"
                        [ngClass]="{'button--disabled': !isFormValid, 'button--loading': form.disabled}"
                        [disabled]="!isFormValid || form.disabled">
                  <span *ngIf="!isEditMode">Voeg configuratiewaarde toe</span>
                  <span *ngIf="isEditMode">Wijzigingen opslaan</span>
                </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
