<div class="label-card__content-wrapper">
  <div class="cta-title">
      <h3 class="h3 cta-title__title">Stopzetting in de KBO</h3>
  </div>
  <div class="properties ww-info">
    <div class="properties__column">
      <dl>
        <dt class="properties__label">Status:</dt>
        <dd id="status" class="properties__data">{{organisationTermination.status}}</dd>

        <dt class="properties__label">Datum:</dt>
        <dd class="properties__data" *ngIf="organisationTermination.date">{{organisationTermination.date}}</dd>

        <dt class="properties__label">Code:</dt>
        <dd class="properties__data" *ngIf="organisationTermination.code">{{organisationTermination.code}}</dd>

        <dt class="properties__label">Reden:</dt>
        <dd class="properties__data" *ngIf="organisationTermination.reason">{{organisationTermination.reason}}</dd>

      </dl>
    </div>
  </div>

  <button class="button form__button"
          type="button"
          [disabled]="!syncEnabled"
          [ngClass]="{'button--disabled': !syncEnabled, 'button--loading': isLoading}"
          (click)="sync()">
    <span>Synchroniseren met KBO</span>
  </button>
  <button class="button form__button button--secondary button--warning"
          type="button"
          [disabled]="!syncTerminationEnabled"
          [ngClass]="{'button--disabled': !syncTerminationEnabled, 'button--loading': isLoading}"
          (click)="syncTermination()">
    <span>Stopzetting synchroniseren met KBO</span>
  </button>
</div>
