<div class="label-card__content-wrapper">
  <div class="contact-card__content-wrapper">
    <div class="cta-title">
      <h3 class="h3 cta-title__title">Status in de KBO</h3>
    </div>
    <p class='ww-description'>
      <span>
        Hier vindt u de status van deze organisatie in de KBO (Kruispuntbank Ondernemingen) indien gekoppeld met de KBO.
      </span>
    </p>
  </div>
  <div class="properties ww-info">
    <div class="properties__column">
      <dl *ngIf="organisationTermination.date">
        <dt class="properties__label">Huidige status van de KBO-koppeling:</dt>
        <dd id="status" class="properties__data">De organisatie is stopgezet in de KBO.</dd>

        <dt class="properties__label">Datum:</dt>
        <dd class="properties__data" *ngIf="organisationTermination.date">{{organisationTermination.date}}</dd>

        <dt class="properties__label">Code:</dt>
        <dd class="properties__data" *ngIf="organisationTermination.code">{{organisationTermination.code}}</dd>

        <dt class="properties__label">Reden:</dt>
        <dd class="properties__data" *ngIf="organisationTermination.reason">{{organisationTermination.reason}}</dd>

      </dl>
      <dl *ngIf="!organisationTermination.date">
        <dt class="properties__label">Huidige status van de KBO-koppeling:</dt>
        <dd id="status" class="properties__data" *ngIf="!organisation.kboNumber">De organisatie is niet gekoppeld aan een KBO nummer.</dd>
        <dd id="status" class="properties__data" *ngIf="organisation.kboNumber">De organisatie is niet stopgezet in de KBO.</dd>
      </dl>
    </div>
  </div>
</div>
<div class="contact-card__content-wrapper">
  <div class="cta-title">
    <h4 class="h4 cta-title__title">Synchroniseren met de KBO</h4>
  </div>
  <p>
    <span>
      Hiermee wordt de organisatie éénmalig gesynchroniseerd met de KBO. Deze actie staat naast de automatische actualisatie vanuit de KBO.
    </span>
  </p>
  <div class="cta-title__cta">
    <button class="button form__button"
            type="button"
            [disabled]="!syncEnabled"
            [ngClass]="{'button--disabled': !syncEnabled, 'button--loading': isLoading}"
            (click)="sync()">
      <span>Synchroniseren met KBO</span>
    </button>
  </div>
</div>
<div class="contact-card__content-wrapper">
  <div class="cta-title">
    <h4 class="h4 cta-title__title">Koppeling met de KBO stopzetten</h4>
  </div>
  <p>
    <span>
      Enkel mogelijk indien de organisatie is stopgezet in de KBO.
    </span>
  </p>
  <p>
    <span>
      Deze actie synchroniseert de organisatie eenmalig met de laatste gegevens in de KBO
      en verbreekt vervolgens de koppeling met de KBO.
      Reeds overgenomen informatie uit de KBO blijft behouden en gearchiveerd in het organisatieregister.
    </span>
  </p>
  <p>
    <span>
      Er komen verder geen updates meer door vanuit de KBO.
    </span>
  </p>
  <div class="cta-title__cta">
    <button class="button form__button button--secondary button--warning"
            type="button"
            [disabled]="!syncTerminationEnabled"
            [ngClass]="{'button--disabled': !syncTerminationEnabled, 'button--loading': isLoading}"
            (click)="syncTermination()">
      <span>Koppeling met KBO stopzetten</span>
    </button>
  </div>
</div>
