a.data-table__header-title--sortable {
  cursor: pointer;
}

th.data-table__last-header {
  width: 40px;
  display: inline-block;
}

td span.data-table__cell--disabled {
  color: #cbd2da;
  font-weight: lighter;
}

tr.data-table__body-history {
  background-color: #f3f3f3;
  font-style: italic;
}

a.vi-trash {
  cursor: pointer;
}
