<div class="grid">
  <div class="col--8-12 col--10-12--m col--1-1--s">
    <div *ngIf="isEditMode">
      <h1 class="h2">Bewerken orgaan classificatietype</h1>
    </div>

    <div *ngIf="!isEditMode">
      <h1 class="h2">Nieuw orgaan classificatietype</h1>
    </div>

    <form class="form" [formGroup]="form" (ngSubmit)="createOrUpdate(form.value)" autocomplete="off">
      <div class="form__group">
          <ww-form-group-textbox
            [id]="'name'"
            [label]="'Naam'"
            [control]="form.get('name')"
            [placeholder]="'Naam'"
            [name]="'Naam'"
            [focus]="true">
          </ww-form-group-textbox>

          <div class="form__row">
            <div class="form__buttons">
              <div class="form__buttons__left">
                <a [routerLink]="['./..']" class="cancel__button"><i class="vi vi-cross vi-u-link">Annuleer</i></a>
              </div>
              <div class="form__buttons__right">
                <button class="button form__button"
                        type="submit"
                        [ngClass]="{'button--disabled': !isFormValid, 'button--loading': form.disabled}"
                        [disabled]="!isFormValid || form.disabled">
                  <span *ngIf="!isEditMode">Voeg orgaan classificatietype toe</span>
                  <span *ngIf="isEditMode">Wijzigingen opslaan</span>
                </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
